.navbar {
    /* overflow: hidden; */
    height: 45px;
    /* position: fixed;  */
    top: 0;
    width: 100%;
    background: white 
    /* background: #303030;  */
}

.navbar .login-button {
    border: None;
    background: #FF6565;
    color: white; 
    position: absolute;
    left: auto; 
    right: 50px;
    width: 80px;
    border-radius: 8px;
}

.navbar .chat-icon {
    position: absolute;
    left: 200px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar .logo {
    font-weight: bold;
    position: absolute;
    left: 20px; 
}


.profile-dropdown-container {
    /* z-index: 50; */
}

.profile-image-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 150px;
    width: 30px;
    height: 30px
}

