<!-- s. https://dribbble.com/shots/10724462-Corporate-messenger -->
<!-- Name of chat partner/group in header -> WENN chat route -->


<div class="navbar">
    <div class="logo" style="cursor: pointer;"> <a [routerLink]="['/home']">*LOGO*</a>
    </div>
    <img (click)="onOpenChat()" src="/assets/img/chat-icons.png" alt="chat-icon" class="chat-icon">
    <div class="chat-partner-box"></div>

    <div *ngIf="loginMode">
        <img class="profile-image-icon" src="/assets/img/avatardefault.png" alt="profile-picture" (click)="onOpenDropdown()">
        <div *ngIf="profileDropdownOpened" class="profile-dropdown-container">
            <app-profile-dropdown-menu  (dropdownClosed)="onCloseDropdown($event)"></app-profile-dropdown-menu>
        </div>
    </div>

    <button (click)="onLogin()" class="login-button" *ngIf="!loginMode">Login</button>
    

    <!-- <button (click)="onLoginLogout(loginMode)" id="auth-btn"> {{ loginMode ? "Logout" : "Login"}} </button> -->
    
</div>