.navbar {
    /* overflow: hidden; */
    height: 45px;
    /* position: fixed;  */
    top: 0;
    width: 100%;
    background: white 
    /* background: #303030;  */
}

.navbar .login-button {
    border: None;
    background: #FF6565;
    color: white; 
    position: absolute;
    left: auto; 
    right: 50px;
    width: 80px;
    border-radius: 8px;
}

.navbar .chat-icon {
    position: absolute;
    left: 200px;
    top: -30;
    width: 30px;
    /* height: 30px; */
    cursor: pointer;
}

.chat-icon-notification {
    position: absolute;
    top: -5px;
    left: 18px;
    background-color: red;
    color: white;
    font-size: 13px;
    border: 1px solid white;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    /* font-family: ; */

}

.navbar .logo {
    font-weight: bold;
    position: absolute;
    left: 20px; 
}


.profile-dropdown-container {
    /* z-index: 50; */
}

.profile-image-icon {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 150px;
    width: 30px;
    height: 30px
}

