.window-container {
    width: 100%;
}

.window-header {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: brown;

}

.chat-content {
    position: fixed;
    top: 115px;
    width: 70%;
    right: 0px;
    bottom: 65px;
    background-color: darkgrey;
}


.window-footer {
    position: fixed;
    bottom: 10px;
    left: 30%;
    right: 0;
    background-color: white;
}
