<div class="window-container">
    <div class="window-header">
            <app-chat-header [chatroom]="chatroom" [chatpartner]="chatpartner" > </app-chat-header>
            <!-- <app-chat-header *ngIf="chatpartner" [chatpartner]="chatpartner"> </app-chat-header> -->
            <!-- <app-chat-header *ngIf="chatroom" [chatroom]="chatroom"> </app-chat-header> -->
    </div>
    
    <div class="chat-content">
    <!-- TODO: chatroom besser handeln -> chatroom NICHT auf Null setzen?! -> da wir reference für messages brauchen -->
        <app-chat-feed [chatroom]="chatroom" [messages]="messages"></app-chat-feed>
    </div>
    
    <div class="window-footer">
        <app-chat-footer (messageSent)="onMessageSent($event)" [chatroom]="chatroom" [initialMessage]="false"></app-chat-footer>
    </div>
</div>



