.chatroom-container {
    /* top: 20vh */
    /* left: 5vh */
    position: fixed;
    left: 0vw;
    height: 100vh;
    /* left: 30%; */
    width: 30%;
    padding: 20px;
    padding-bottom:95px ;
    /* background-color: gray; */
}


.chatwindow-container {
    position: fixed;
    /* top: 15vh; */
    left: 30%;
    width: 70%;
    height: 100vh;
    background-color: blueviolet;
}

/* .seperationline {
    height: 100px;
    background: black;
    width: 1px;
} */