
.header-container{
    z-index: 10;
    position: relative; 
}

.router-outlet-div {
    z-index: 1;
    /* background-color: salmon; */
    /* position: relative; */
    top: 60px;
    left: 25px;
    /* height: 95vh; */
}

