<div class="edit-profile">
    <app-edit-profile-dialog (userUpdated)="onUpdateUser($event)" (closeEditProfile)="editMode = false" [user]="user" *ngIf="editMode"> </app-edit-profile-dialog>
</div>

<img class="profile-image" src="/assets/img/avatardefault.png" alt="profile-image">
<!-- <div> {{ user.firstName }} {{user.surname}} </div> -->
<!-- <div class="user-email"> email {{ user.email }} </div> -->
<div class="profile-info-box">
    <div *ngIf="user.firstname || user.surname" class="user-name"> {{ user.firstname }} {{ user.surname }}</div>
    <div class="user-bio" > {{ user.bio }}</div>
</div>

<div class="profile-actions">
    <button type="button" class="btn btn-light" *ngIf="isCurrentUser" (click)="onEditProfile()"> *EditProfile* </button>
    <!-- <button form="edit-profile-form" class="btn btn-primary submit-btn" *ngIf="isCurrentUser && editMode"> Save </button> -->
    <button type="button" class="btn btn-primary" *ngIf="!isCurrentUser" (click)="onAddContact()"> *AddContact*</button>
    <button type="button" class="btn btn-secondary">*ContactAmount* </button> <!-- TODO: chatroom-dialog component ausklappen TODO: fetch amount of cantacts of an user -->
</div>




