<div class="dialog-background" (click)="onClose()"></div>
<div class="request-error-container" [ngClass]="{'active': requestError }"> {{ requestError }} </div>

<div class="dialog-container" [ngClass]="{'error': requestError}">
  <div class="dialog-header">
    <img (click)="onClose()" class="cancel-button" src="/assets/img/cancel-button-icon.svg" alt="cancel-button">
    <h1> Neue Nachricht </h1>
    <button class="action-btn"> Create Group </button>
  </div>
  

  <div class="search-constainer">
    <!-- <button type="submit"> Search</button> --> <!-- brauchen keinen submit button: jedes mal neune http request, sobald sich input verändert hat -->
    <form [formGroup]="searchUserForm">
      <label for="searchTerm">An: </label>
      <input type="text" formControlName="searchTerm" placeholder="Suchen...">
    </form>
  </div>
  
  <ul class="contact-list">
    <div *ngFor="let user of filteredUsers; index as i">
      <li class="contact-list__entry" (click)="onUserSelected(i)" *ngIf="currentUser.id !== user.id">
        <app-user-entry [user]="user"></app-user-entry>
      </li>
    </div>
  </ul>

  <div class="private-message-container" [ngClass]="{'active': contactSelected}">
    <div class="private-message-header" *ngIf="selectedUser">
      <img (click)="onCancelPrivateMessage()" class="message-cancel-button" src="/assets/img/back-arrow-button.png" alt="cancel-button">
      <a [routerLink]="['/profile', selectedUser.id]">
        <app-user-entry [user]="selectedUser"></app-user-entry>
      </a>
    </div>

    <div class="private-message-footer" *ngIf="selectedUser">
      <app-chat-footer [recipient]="selectedUser" [initialMessage]="true"></app-chat-footer>
    </div>
    
  </div>
  

  <!-- <h2>Chatgroup Name</h2>
  <form [formGroup]="chatroomForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="form-control" placeholder="Group Name" formControlName="roomName">
      <div *ngIf="formError" class="invalid-feedback"> {{ formError }} </div>
    </div> -->
    <!-- <label>Group name</label> -->
    <!-- bzw. cancel-btn <button type="reset" ?! -->
      <!-- <button type="button" class="btn btn-light" (click)="onClose()" >Cancel</button>
      <button type="submit" class="btn btn-primary"> Save </button>
  </form> -->
  <!-- <div *ngIf="chatroomForm.controls.roomName.errors?" class="invalid-feedback"> Group name can not be empty </div> -->
  
</div>
