.message-bubble-container {
    background-color: grey;
    display: inline-block;
    padding: 20px;
    width: calc(auto + 120px);
    border-radius: 20px;
    color: white;
}

.message-string {
    display: inline-block;
    max-width: 200px;
    word-break: break-all;
}

.message-creation-date {
    font-size: 9px;
    margin-left: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
    color: rgb(228, 228, 228);
}

.message-bubble-container.current-user {
    background-color: rgb(51, 137, 250)
}

@media(min-width: 60rem) {
    .message-string{
        max-width: 400px;
    }
}